.page {
  padding: 10px 3px;
}
ul {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #faf5ff;
}
li {
  margin: 10px;
  list-style: none;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: #faf5ff;
  display: block;
  padding: 10px;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  margin: 10px 20px;
  color: black;
}

.activeClass {
  color: blueviolet;
}
.btn {
  font-size: 15px;
  color: blueviolet;
  margin-top: 10px;
  border: none;
  background-color: inherit;
}
